{deps, [
        {mongodb, ".*", {git, "git://github.com/mongodb/mongodb-erlang.git", "HEAD"}}
       ]}.

{lib_dirs, ["deps"]}.

{erl_opts, [debug_info, fail_on_warning]}.

{clean_files, ["ebin/*.beam", "erl_crash.dump"]}.

{edoc_opts, [{index_columns, 1}, {sort_functions, false}, {preprocess, true}]}.
