/*tr.prflrRow:hover {background-color: #fef; cursor: pointer;}*/
.b1 td {border-bottom:1px solid #808080;}

.profiler_block {display: none;padding-bottom:50px}
.refresh_button {margin-left: 10px;}

#tab_menu  a {text-decoration: none; color: #000000;font-size:35px; padding-top:35px;}

.tabselected {text-shadow: 1px 2px 6px #000000;color:#ffffff!important;}

.r0 {width:20px;} 
.r1 {width:720px; padding-left:5px;}
.r2 {width:270px}
.r3 {width:60px;padding-left:15px;}
.r4 {width:80px; text-align: right; padding-right:5px}

.cp {width:670px; height:35px; font-size:16px;}

.rln {height:6px; background-color: #ff0000;min-width:1.5px;}
.gln {height:6px; background-color: #00ff00;min-width:1.5px;}
.bln {height:6px; background-color: #0000ff;min-width:1.5px;}

.f10 {font-size:10px;}
.f12 {font-size:12px;}
.f15 {font-size:15px;}
.f18 {font-size:18px;}
.f20 {font-size:20px;}
.f25 {font-size:25px;}
.f30 {font-size:30px;}
.f35 {font-size:35px;}

.prfrlItem:hover {/*color: blue;*/ text-decoration: underline; cursor: pointer}

.resetFilter {cursor:pointer}

.prflrItemHeader:hover {text-decoration: underline; cursor: pointer}